{% extends 'materials/material_dashboard.html' %}
{% load static %}

{% block module_content %}
<div class="delete-confirmation">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center animate-box">
                <h2>Confirmar Eliminación</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="animate-box">
                    <div class="alert alert-danger text-center">
                        <i class="icon-warning"></i>
                        <h3>¿Estás seguro de que deseas eliminar esta recepción?</h3>
                        <p><strong>Recepción #{{ object.id }}</strong> - {{ object.client.name }}</p>
                        <p>Fecha: {{ object.reception_date|date:"d/m/Y H:i" }}</p>
                        <p>Esta acción eliminará todos los materiales y operaciones asociadas.</p>
                    </div>

                    <form method="post" class="text-center">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-lg">
                            <i class="icon-trash"></i> Sí, Eliminar
                        </button>
                        <a href="{% url 'materials:reception_list' %}" class="btn btn-default btn-lg">
                            <i class="icon-arrow-left"></i> Cancelar
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}