__pycache__/
*.py[cod]
*$py.class
*.log
*.pot
*.pyc
*.pyo
*.pyd
db.sqlite3
*.sqlite3
*.sql
**/migrations/
!*/migrations/__init__.py
/media/
/staticfiles/
/static/
.env
.env.*
venv/
env/
ENV/
.venv/
.ENV/
.vscode/
.idea/
*.swp
.cache/
.pytest_cache/
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.mypy_cache/
.dmypy.json
dmypy.json
pylint-report.txt
pylint-global.rc
bandit.yaml
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
pip-log.txt
pip-delete-this-directory.txt
junit*.xml
test-results/
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini
.idea/
*.iml

