{% load static %}

<!DOCTYPE HTML>
<html>
    
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Recicladora Titanium</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Titanium.com- Compra venta de chatarra y sus derivados." />
        <meta name="keywords" content="Acero, Rejacero, PLACA DE ROLLO, PLACA DE ACEROLÁMINA CALIENTE, LÁMINA FRÍA, LÁMINA GALVANIZADA,LÁMINA ANTIDERRAPANTE, LÁMINA DECAPADA, LOSACERO" />
        <meta name="author" content="Titanium TI" />

        <!-- Facebook and Twitter integration -->
        <meta property="og:title" content=""/>
        <meta property="og:image" content=""/>
        <meta property="og:url" content=""/>
        <meta property="og:site_name" content=""/>
        <meta property="og:description" content=""/>
        

        <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,700" rel="stylesheet">

<!-- logo.css -->
<link rel="stylesheet" href="{% static 'css/logo.css' %}">
<!-- Animate.css -->
<link rel="stylesheet" href="{% static 'css/animate.css' %}">
<!-- Icomoon Icon Fonts-->
<link rel="stylesheet" href="{% static 'css/icomoon.css' %}">
<!-- Bootstrap  -->
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

<!-- Magnific Popup -->
<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">

<!-- Flexslider  -->
<link rel="stylesheet" href="{% static 'css/flexslider.css' %}">

<!-- Owl Carousel -->
<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">

<!-- Flaticons  -->
<link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}">

<!-- Theme style  -->
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<!-- Modernizr JS -->
<script src="{% static 'js/modernizr-2.6.2.min.js' %}"></script>

     
    </head>
    <body>

        <div class="colorlib-loader"></div>

        <div id="page">
            
             <!-- Menu -->
            
            {% block 'menu' %}
            
{% if request.path == '/' %}
<nav class="colorlib-nav" role="navigation">
    <!-- Mensajes para el usuario -->
{% if messages %}
<div class="message-container">
    {% for message in messages %}
        <div class="alert 
            {% if message.tags == 'error' %}
                alert-danger
            {% elif message.tags == 'warning' %}
                alert-warning
            {% elif message.tags == 'success' %}
                alert-success
            {% else %}
                alert-info
            {% endif %}
            animate-box message-alert" role="alert" style="font-size: 16px;">
            <i class="icon-info"></i> {{ message }}
        </div>
    {% endfor %}
</div>
{% endif %}
    <div class="top-menu">
        <div class="container">
            <div class="row">
                <div class="col-xs-10 text-right menu-1">
                    <ul>
                        <li class="{% if request.path == '/' %}active{% endif %}"><a href="{% url 'landing:index' %}">Home</a></li>
                        <li><a href="#proyectos">Productos</a></li>
                        <li class="has-dropdown">
                            <a><b>Llámanos!</b></a>
                            <ul class="dropdown">
                                <li> <i class="icon-whatsapp"></i> <i class="icon-phone2"></i> <a href="https://wa.me/584243749696" target="_blank"> +58 424-3749696</a></li>
                                <li> <i class="icon-phone2"></i> <a href="tel://584248305236">+58 424-8305236</a></li>
                                <li> <i class="icon-phone2"></i> <a href="tel://584243749696">+58 424-3749696</a> </li>
                            </ul>
                        </li>
                        <li><a href="#about">Nosotros</a></li>
                        <li><a href="#contact">Contacto</a></li>
                        <li class="has-dropdown">
                            {% if user.is_authenticated %}
                                <a href="#"><i class="icon-user"></i> {{ user.username }}</a>
                                <ul class="dropdown">
                                    {% if user.role == 'admin' %}
                                        <li><a href="{% url 'admin:index' %}"><i class="icon-settings"></i> Panel Admin</a></li>
                                        <li><a href="{% url 'users:manage_staff' %}"><i class="icon-users"></i> Gestionar Staff</a></li>
                                           <li><a href="{% url 'materials:dashboard' %}"><i class="icon-plus"></i>Materiales</a></li>
                                    {% elif user.is_staff %}
                                        <li><a href="{% url 'materials:dashboard' %}"><i class="icon-plus"></i>Materiales</a></li>
                                    {% endif %}
                                    <li><a href="{% url 'users:dashboard' %}"><i class="icon-user"></i> Mi Perfil</a></li>
                                    <li><a href="{% url 'users:logout' %}"><i class="icon-exit"></i> Cerrar Sesión</a></li>
                                </ul>
                            {% else %}
                                <a href="#"><i class="icon-user"></i> Cuenta</a>
                                <ul class="dropdown">
                                    <li><a href="{% url 'users:login' %}"><i class="icon-login"></i> Iniciar Sesión</a></li>
                                    <li><a href="{% url 'users:register' %}"><i class="icon-user-plus"></i> Crear Cuenta</a></li>
                                </ul>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
{% else %}
<nav class="colorlib-nav" role="navigation">
    <!-- Mensajes para el usuario -->
{% if messages %}
<div class="message-container">
    {% for message in messages %}
        <div class="alert 
            {% if message.tags == 'error' %}
                alert-danger
            {% elif message.tags == 'warning' %}
                alert-warning
            {% elif message.tags == 'success' %}
                alert-success
            {% else %}
                alert-info
            {% endif %}
            animate-box message-alert" role="alert" style="font-size: 16px;">
            <i class="icon-info"></i> {{ message }}
        </div>
    {% endfor %}
</div>
{% endif %}
    <div class="top-menu">
        <div class="container">
            <div class="row">
                <div class="col-xs-2">
                    <div id="colorlib-logo"> 
                        <img src="{% static 'images/logo.png' %}"> 
                        <a href="{% url 'landing:index' %}"></a>
                    </div>
                </div>
                <div class="col-xs-10 text-right menu-1">
                    <ul>
                        <li class="{% if request.path == '/' %}active{% endif %}"><a href="{% url 'landing:index' %}">Home</a></li>
                        <li class="has-dropdown">
                            {% if user.is_authenticated %}
                                <a href="#" style="color: black !important;"><i class="icon-user"></i> {{ user.username }}</a>
                                <ul class="dropdown">
                                    {% if user.role == 'admin' %}
                                        <li><a href="{% url 'admin:index' %}"><i class="icon-settings"></i> Panel Admin</a></li>
                                        <li><a href="{% url 'users:manage_staff' %}"><i class="icon-users"></i> Gestionar Staff</a></li>
                                        <li><a href="{% url 'materials:dashboard' %}"><i class="icon-plus"></i>Materiales</a></li>
                                    {% elif user.is_staff %}
                                        <li><a href="{% url 'materials:dashboard' %}"><i class="icon-plus"></i>Materiales</a></li>
                                    {% else %}
                                        <li><a href="{% url 'users:dashboard' %}"><i class="icon-dashboard"></i> Mi Perfil</a></li>
                                    {% endif %}
                                    <li><a href="{% url 'users:logout' %}"><i class="icon-exit"></i> Cerrar Sesión</a></li>
                                </ul>
                                {% else %}
                                <a href="#" style="color: black !important;"><i class="icon-user"></i> Cuenta</a>
                                <ul class="dropdown">
                                    <li><a href="{% url 'users:login' %}"><i class="icon-login"></i> Iniciar Sesión</a></li>
                                    <li><a href="{% url 'users:register' %}"><i class="icon-user-plus"></i> Crear Cuenta</a></li>
                                </ul>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
{% endif %}
            {% endblock %}

{% block content %}

             <!-- Slide -->
             <aside id="colorlib-hero">
                <div class="flexslider">
                    <ul class="slides">
                        <li style="background-image: url('{% static "images/titanium 5.JPG" %}'); background-color: transparent;">
                            <div class="overlay"></div>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-8 col-sm-12 col-md-offset-2 slider-text">
                                        <div class="slider-text-inner text-center">
                                            <h1></h1>
                                            <h2>En RECICLADORA TITANIUM nos dedicamos a ser la mejor opción en tiempo, calidad y costo.</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li style="background-image: url('{% static "images/titanium 2.JPG" %}'); background-color: transparent;">
                            <div class="overlay"></div>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-8 col-sm-12 col-md-offset-2 slider-text">
                                        <div class="slider-text-inner text-center">
                                            <h1></h1>
                                            <h2>En RECICLADORA TITANIUM nos dedicamos a ser la mejor opción en tiempo, calidad y costo.</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li style="background-image: url('{% static "images/titanium 3.JPG" %}'); background-color: transparent;">
                            <div class="overlay"></div>
                            <div class="container-fluids">
                                <div class="row">
                                    <div class="col-md-8 col-sm-12 col-md-offset-2 slider-text">
                                        <div class="slider-text-inner text-center">
                                            <h1></h1>
                                            <h2>En RECICLADORA TITANIUM nos dedicamos a ser la mejor opción en tiempo, calidad y costo.</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li style="background-image: url('{% static "images/titanium 4.JPG" %}'); background-color: transparent;">
                            <div class="overlay"></div>
                            <div class="container-fluids">
                                <div class="row">
                                    <div class="col-md-8 col-sm-12 col-md-offset-2 slider-text">
                                        <div class="slider-text-inner text-center">
                                            <h1></h1>
                                            <h2>En RECICLADORA TITANIUM nos dedicamos a ser la mejor opción en tiempo, calidad y costo.</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>   
                    </ul>
                </div>
            </aside>
        
               <!-- Nosotros-->
             
             <div id="colorlib-about">
                 <div id="about"></div>
			<div class="container">
				<div class="row row-pb-lg">
					<div class="col-md-6 animate-box">
						<div class="about-desc">
							<h3>QUIÉNES SOMOS</h3>
							<p>Somos una empresa Venezolana dedicada a la compra venta de metales y sus derivados.</p>
							<p>Contamos con un diverso listado de perfiles.</p>
						</div>
					</div>
					<div class="col-md-6 animate-box">
						<div class="fancy-collapse-panel">
                     <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
								<div class="panel panel-default">
									<div class="panel-heading" role="tab" id="headingOne">
										<h4 class="panel-title">
										   <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">MISIÓN
										   </a>
										</h4>
									</div>
									<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
										<div class="panel-body">
										   <p>Suplir satisfactoriamente las necesidades de nuestros clientes en todo el país, siendo punta de lanza en tiempos de entrega, calidad y costo.</p>
										</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading" role="tab" id="headingTwo">
										<h4 class="panel-title">
										   <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">VISIÓN
										   </a>
										</h4>
									</div>
								 	<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
										<div class="panel-body">
										   <p>Ser la recicladora de metales más prestigiosa e importante de Latinoamerica.</p>
									 	</div>
									</div>
								</div>
                     	<div class="panel panel-default">
                         	<div class="panel-heading" role="tab" id="headingThree">
                             	<h4 class="panel-title">
                                 <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">RUBROS DE IMPACTO
                                 </a>
                             	</h4>
                         	</div>
                         	<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                             	<div class="panel-body">
                                 <p>Construcción</p>	
                                 <p>Hidráulico</p>	
                                 <p>Ganadero</p>	
                                 <p>Industrial</p>	
                                 <p>Estructural</p>	
                                 <p>Telecomunicaciones</p>	
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
					</div>
				</div>
				
			</div>
		</div>
	
             
             <!-- Proyectos -->
            <div id="colorlib-counter" class="colorlib-counters" style="background-image: url('{% static "images/titanium 1.JPG" %}');" data-stellar-background-ratio="0.5">
                <div id="proyectos"   class="overlay"></div>
                <div class="container">
                    <div class="row no-gutter">
                        <div class="col-md-3 col-sm-6 text-center text-center animate-box">
                            <div class="counter-entry">
                                <span class="icon icon-white"><i class="flaticon-skyline"></i></span>
                                <span class="colorlib-counter js-counter" data-from="0" data-to="97" data-speed="500" data-refresh-interval="5"></span>
                                <span class="colorlib-counter-label">Proyectos</span>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 text-center animate-box">
                            <div class="counter-entry">
                                <span class="icon"><i class="flaticon-architect-with-helmet"></i></span>
                                <span class="colorlib-counter js-counter" data-from="0" data-to="33" data-speed="500" data-refresh-interval="2"></span>
                                <span class="colorlib-counter-label">Proveedores</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 text-center animate-box">
                            <div class="counter-entry">
                                <span class="icon"><i class="flaticon-worker"></i></span>
                                <span class="colorlib-counter js-counter" data-from="0" data-to="685" data-speed="500" data-refresh-interval="8"></span>
                                <span class="colorlib-counter-label">Market Rates</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 text-center animate-box">
                            <div class="counter-entry">
                                <span class="icon"><i class="flaticon-engineer"></i></span>
                                <span class="colorlib-counter js-counter" data-from="0" data-to="42" data-speed="1500" data-refresh-interval="3"></span>
                                <span class="colorlib-counter-label">Clientes</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="colorlib-project">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center colorlib-heading animate-box">
                            <h2>Materiales que Compramos</h2>
                            
                        </div>
                    </div>
                    <div class="row">
                        
                        <!-- jQuery onclick="window.open(this.href, this.target, 'width=1200,height=600'); return false;" -->
                        <div class="col-md-8 animate-box">
                            <div class="project-entry">
                                <a href=""  target="_blank"  
                                                                                                      
                                   class="project-img text-center" style="background-image: url('{% static "images/Hierro2.jpg" %}');">
                                    
                                    <span class="icon"><i class="icon-search2"></i></span>
                                </a>
                                <div class="desc">
                                    <h3><a href="project.html" target="_blank">Hierro.</a></h3>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-4 animate-box">
                            <div class="project-entry">
                                <a href="" target="_blank" class="project-img text-center" 
                                   style="background-image: url('{% static "images/Hierro.avif" %}');">
                                    <span class="icon"><i class="icon-search2"></i></span>
                                </a>
                                <div class="desc">
                                    <h3><a href="project.html" target="_blank"></a></h3>
                                </div>
                            </div>
                        </div>
                        
                        
                        <div class="col-md-6 animate-box">
                            <div class="project-entry">
                                <a href="" target="_blank"
                                   class="project-img text-center" style="background-image: url('{% static "images/pacas-de-obsolescencia.jpg" %}');">
                                    <span class="icon"><i class="icon-search2"></i></span>
                                </a>
                                <div class="desc">
                                    <h3><a href="plataforma.html" target="_blank"></a>Otros. </h3>
                                </div>
                            </div>
                        </div>
   
                        <div class="col-md-6 animate-box">
                            <div class="project-entry">
                                <a href="plataforma.html" target="_blank"
                                   class="project-img text-center" style="background-image: url(images/pacas-de-obsolescencia.jpg);">
                                    <span class="icon"><i class="icon-search2"></i></span>
                                </a>
                                <div class="desc">
                                    <h3><a href="plataforma.html" target="_blank"></a>Otros. </h3>
                                </div>
                            </div>
                        </div>
                      
                        
                        
                    </div>
                </div>
            </div>
             
             
               <!-- Contacto -->
             <div id="contact">
			<div class="container">
				<div class="row">
					<div class="col-md-10 col-md-offset-1 animate-box">
						<h2>Información de Contacto </h2>
						<div class="row">
							<div class="col-md-12">
								<div class="contact-info-wrap-flex">
									<div class="con-info">
                                                                        
                                    <p><span><i class="icon-whatsapp"></i> <i class="icon-phone2"></i></span> <a href="https://wa.me/584243749696" target="_blank"> +58 424-3749696</a></p>	
                                    <p><span><i class="icon-phone2"></i></span>  <a href="tel://584248305236">Tel: +58 424-8305236</a></p> 	
                                    <p><span><i class="icon-phone2"></i></span>  <a href="tel://584243749696">Tel: +58 424-3749696</a></p>	                                    
									
                                </div>
									<div class="con-info">
									<p><span><i class="icon-mail"></i></span> <a href="mailto: Administracion@recicladoratitanium.com ">Administracion
                                        @recicladoratitanium.com </a></p>	
                                        <p><span><i class="icon-mail"></i></span> <a href="mailto: Compras@recicladoratitanium.com ">Compras
                                            @recicladoratitanium.com </a></p>	
								</div>
									
                                <div class="con-info">
                                    <p> <span> <i class="icon-facebook2"></i></span> <br>  <a href="https://www.facebook.com/profile.php?id=61553227543327" target="blank">facebook/Titanium</a></p> 
                                </div>
									
                                <div class="con-info">
                                    <p><span><i class="icon-location-2"></i></span> <a href="https://www.google.com/maps/@10.2227882,-67.5522658,17z?entry=ttu" target="blank"> Aragua Av. Joaquin Crespo Calle de Servicio Parcela Nro. 25-B-G-4 Caserio Asentamiento Campesino La Morita Turmero. <br> </a> </p>
								</div>
					        </div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
	</div>
               <a target="blank">
               <div id="map" class="colorlib-map"> </div>

                </a>

{% endblock %}

	

            <footer id="colorlib-footer">
                <div class="contact-information">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="row">
                                    <div class="col-md-3 text-center">
                                        <a href="https://www.google.com/maps/@10.2227882,-67.5522658,17z?entry=ttu" target="blank">
                                            <div class="info-wrap">
                                                <span class="icon"><i class="icon-location4"></i></span>
                                                <p  aling="justify" >  <a href="https://www.google.com/maps/@10.2227882,-67.5522658,17z?entry=ttu" target="blank"> Aragua Av. Joaquin Crespo Calle de Servicio Parcela Nro. 25-B-G-4 Caserio Asentamiento Campesino La Morita Turmero </a> </p> 
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-md-3 text-center">
                                        <div class="info-wrap">
                                            <span class="icon"><i class="icon-world"></i></span>
                                            <p aling="justify" ><a href="mailto:Administracion@recicladoratitanium.com">Administracion
                                                @recicladoratitanium.com</a> 
                                                <p aling="justify" ><a href="mailto:Compras@recicladoratitanium.com">Compras
                                                    @recicladoratitanium.com</a> 
                                                <br> <a href="https://www.facebook.com/profile.php?id=61553227543327" target="blank">facebook/recicladoratitanium</a></p> 
                                        </div>
                                    </div>
                                    <div class="col-md-3 text-center">
                                        <div class="info-wrap">
                                            <span class="icon"><i class="icon-whatsapp"></i></span>
                                            <p> <a href="https://wa.me/584243749696" target="_blank">WS: +58 424-3749696</a> <br> 
                                                <a href="tel://584248305236">Tel: +58 424-8305236</a>
                                                <br>
                                                <a href="tel://584243749696">Tel: +58 424-3749696 </a>
                                                
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-3 text-center">
                                        <div class="info-wrap">
                                            <span class="icon"><i class="icon-clock"></i></span>
                                            <p> <a >L - S 8:00 AM a 5:00 PM</a> <br></p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="copy">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <p>
                                  	<small class="block">

<script>document.write(new Date().getFullYear());</script> Desing<i class="icon-heart3" aria-hidden="true"></i> by <a href="#" target="_blank">Rofer</a>

								</small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>

        
	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up2"></i></a>
	</div>
	
	
        
	

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDVIijWuoUQU1mZB_n3mRyuip74FxFZio"></script>
    <script src="{% static 'js/google_map.js' %}"></script>
    <!-- jQuery -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <!-- jQuery Easing -->
    <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- Waypoints -->
    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <!-- Stellar Parallax -->
    <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
    <!-- Flexslider -->
    <script src="{% static 'js/jquery.flexslider-min.js' %}"></script>
    <!-- Owl carousel -->
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <!-- Magnific Popup -->
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/magnific-popup-options.js' %}"></script>
    <!-- Counters -->
    <script src="{% static 'js/jquery.countTo.js' %}"></script>
    <!-- Main -->
    <script src="{% static 'js/main.js' %}"></script>
    <!-- Messages -->
    <script src="{% static 'js/messages.js' %}"></script>

        
    </body>

</html>

